      <tr>
        <td><%= h laptop.label_number %></td>
        <td><%= h laptop.department_id %></td>
        <td><%= h laptop.classroom_id %></td>
        <td><%= h laptop.person_id %></td>
      </tr>

