<h1>Laptops in Use</h1>

<div id="laptop-index">
<%- if @laptops.any? -%>
  <table>
    <thead>
      <tr>
        <td>Label No.</td>
        <td>Department</td>
        <td>Current Room</td>
        <td>Checked Out To:</td>
      </tr>
    </thead>
    <tbody>
    <%= render @laptops %>
    </tbody>
  </table>
<%- else -%>
  <p>There aren't any laptops in the system. :(</p>
<% end %>
</div>
